element.style {
}
#profile-box .about {
    width: 310px;
    padding-left: 20px;
    padding-bottom: 10px;
    position: relative;
}
body {
    color: #322f31;
    line-height: 1.5385em;
    text-shadow: 0 1px #fff;
}
html {
    color: #211922;
    font-family: "helvetica neue",arial,sans-serif;
    font-size: 13px;
}
html {
    background: #fff;
    color: #000;
    direction: ltr;
    font: 81.25% 'Lucida Grande',arial,sans-serif;
}