body { 
  font-family:"Arial";
  margin: 0; 
  background-image:url("https://scrover.neocities.org/scratch-bg.png");
}

h1 {background-color:#0f8bc0;padding:5px; margin: 0; color: white;}

.profile-header {
   border-radius: 10px 10px 0 0;
   border: 1px solid #e0e0e0;
   background: #f7f7f7;
   display: inline-block;
   padding: 10px;
   text-align: center;
   width: 50%;
   margin: auto;
   display: flex;
   justify-content: left;
   align-items: left;
   margin-top: 20px;
}

.profile-header h3 {
  float: left;
}

.profile-header img {
  float: left;
}

.profile {
   border: 1px solid #e0e0e0;
   background: #f7f7f7;
   display: inline-block;
   padding: 10px;
   text-align: center;
   width: 50%;
   margin: auto;
   display: flex;
   justify-content: left;
   align-items: left;
}
